<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c94f5b8c-d9bc-43de-9f88-54dfaf73852e/resourceGroups/cent74test_group/providers/Microsoft.Web/sites/cent74test</ResourceId>
    <ResourceGroup>cent74test_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://cent74test-d5bzb6b5aqh9haen.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://cent74test-d5bzb6b5aqh9haen.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>